<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>824978158644-dh9h4esp0ndla83h52hkit2t9k25727t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.824978158644-dh9h4esp0ndla83h52hkit2t9k25727t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>824978158644-40p7gac2dh17pqmjvhhajfoltpjfa1vc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDizK5x_LRVgwaSJX7dABIN-zX_fCXoHiI</string>
	<key>GCM_SENDER_ID</key>
	<string>824978158644</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.oraCancar</string>
	<key>PROJECT_ID</key>
	<string>oral-cancer-12d8b</string>
	<key>STORAGE_BUCKET</key>
	<string>oral-cancer-12d8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:824978158644:ios:850062b223d332b6b14661</string>
</dict>
</plist>